body {
    font-family: Arial,  sans-serif; /* Familia de fuentes */
    font-size: 13px; /* El tamaño de la fuente principal en el tag <p></p> */
    background-color: #ffffff; /* El color del fondo de la página web */
    color: #000000; /* El color del texto*/ 
}

@keyframes color-change {
    0% {
    color: blue;
    font-size: 13px;
    }
    50% {
    color: red;
    font-size: 23px;
    }
    100% {
    color: blue;
    font-size: 13px;
    }
}

h1 {
    animation: color-change 3s infinite;
}